.hero {
  min-height: 90vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('/aurora-hero.png');
  background-size: cover;
  background-position: center;
}


.map-container {
  width: 100%;
  height: 350px;
  min-height: 350px;
}
